.slideshow {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.slideshow {
    .gen_img {
        margin: 40px auto;
        width: 80%;
    }

    .title {
        color: var(--mainContentColor);
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.4em;
        margin-bottom: 10px;
    }

    .subtitle {
        color: var(--mainContentColor);
        font-weight: 600;
        font-size: 16px;
    }

    .sliders {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .sliders {
        .arrow {
            align-items: center;
            display: flex;
            justify-content: center;

            border-radius: 1000px;
            padding: 20px;

            transition: .2s ease all;
        }

        .arrow:hover {
            background-color: rgba(0, 0, 0, .1);
            cursor: pointer;
            mix-blend-mode: multiply;
        }

        .leftArrow, .rightArrow {
            margin: 0;
            height: 30px;
            width: 30px;
        }

        .rightArrow {
            transform: rotate(180deg);
        }

        .mainArrow {
            .cls-1{fill:none;stroke-linejoin:round;}
            .cls-1,.cls-2{stroke:var(--mainContentColor);stroke-linecap:round;stroke-width:40px;}
            .cls-2{fill:#fff;stroke-miterlimit:10;}
        }
    }

    .caption_container {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .caption_container {
        .caption_title {
            color: var(--mainContentColor);
            font-weight: 700;
            font-size: 24px;
            margin-right: 40px;
        }

        .text {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            
            height: 75px;
            width: 200px;
        }
    }
}