.landing_frame_container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.landing_body {
    max-width: 600px;
}

.greetingToggle {
    align-items: center;
    display: flex;
    justify-content: center;

    background-color: var(--mainContentColor);
    border: 2px solid var(--mainContentColor);
    border-radius: 1000px;
    color: white;
    font-weight: 700;
    margin: 20px;
    padding: 10px 20px;

    transition: .2s ease all;
    width: fit-content;
}

.greetingText {
    transition: .2s ease all;

    align-items: flex-start;
    border: 2px dashed var(--mainContentColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 30px 15px;
    text-align: left;
}

.greetingText.expanded {
    height: 100%;
}

.greetingToggle:hover {
    cursor: pointer;
    padding: 10px 30px;
}

.instruction.caption {
    color: var(--mainContentColor);
    font-weight: 600;
    margin: 0 auto;
    width: 95%;
}

.instruction.caption ol {
    font-weight: 400;
}

.mainTicket {
    align-items: center;
    background-color: var(--mainContentColor);
    border: 2px dashed var(--tan1Alt);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 15px;
}

.mainTicket {
    .ticketHeader {
        border: 2px solid rgba(255, 255, 255, .3);
        border-radius: 10px;
        color: white;
        font-family: 'Cormorant Unicase', serif;
        font-size: 40px;
        font-weight: 600;
        padding: .25em 1.5em;
    }

    .ticketBody {
        color: white;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 600;
        padding-left: 28px;
        padding-right: 10px;
    }

    .topContent {
        display: flex;
        border-bottom: 1px dashed var(--tan1Alt);
        padding-bottom: 10px;
    }

    .topContent .textContent {
        font-weight: 400;
        white-space: nowrap;
    }

    .decorativeRect {
        background-color: var(--tan1);
        border-radius: 1000px;
        height: .75em;
        margin-left: 1em;
        width: 5em;
    }

    .bottomContent {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        text-align: justify;
    }

    .bottomContent > div {
        font-weight: 400;
        margin-bottom: -1em;
        text-align: justify;
    }

    .bottomContent a {
        color: white;
        font-weight: 800;
        text-decoration: none;
    }

    .bottomContent > div:after {
        content: "";
        display: inline-block;
        width: 100%;
    }

    .bottomContent .spacer {
        opacity: 0;
    }
}

.header_container_overarching {
    margin: 0 auto 350px auto;
    text-decoration: none;
}

.header_container {
    position: relative;
}

.header_container {
    text-decoration: none;
    transition: .2s ease all;

    z-index: 90;
}

.header_container {
    h1 {
        color: var(--mainContentColor);
        font-size: 32px;
        font-weight: 400;
        text-decoration: none;
    }
    
    .divider {
        align-self: center;
        border: 2px solid var(--mainContentColor);
        border-radius: 1000px;
        display: flex;
        height: 7px;
        width: 110%;
    }
    
    .divider .filler {
        background-color: var(--mainContentColor);
        border-radius: 1000px;
        height: 100%;
        transition: .4s ease all;
        width: 0%;
    }
}

.header_container:hover .filler {
    width: 100%;
}

.landing_frame_container .phone_frame_image {
    margin-top: 10px;
}

.header_background_container {
    position: relative;
}

.header_background_container {
    .background_overlay {
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;

        height: 300px;
        width: 600px;

        z-index: 50;

        opacity: 0;

        transition: .2s ease all;
    }

    .header_background {
        background-color: var(--mainContentColor);
        position: absolute;
        top: 0;
        left: 0;

        height: 300px;
        width: 600px;

        z-index: 1;

        opacity: 1;
        transition: .2s ease all;
    }
}

.header_container_overarching:hover {
    .background_overlay {
        opacity: .7;
    }

    .background_overlay + .header_background {
        opacity: .8;
    }
}   

@media screen and (min-width: 600px) and (max-width: 900px) {
    .header_background_container {
        .background_overlay {
            height: 250px;
            width: 500px;
        }
    
        .header_background { 
            height: 250px;
            width: 500px;
        }
    }

    .mainTicket {
        flex-direction: column;
    }

    .mainTicket {
        .ticketBody {
            margin-top: 20px;
            padding: 0;
            width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    .header_background_container {
        .background_overlay {
            height: 150px;
            width: 300px;
        }
    
        .header_background { 
            height: 150px;
            width: 300px;
        }
    }

    .mainTicket {
        flex-direction: column;
    }

    .mainTicket {
        .ticketBody {
            margin-top: 20px;
            padding: 0;
            width: 100%;
        }
    }
}