.adoption_timeline { 
    .main_text {
        align-items: center;
        display: flex;
        justify-content: space-around;

        margin: 5em 0 10em 0;
        width: 100vw;
    }

    .main_text > div {
        margin: 30px 60px;
        width: 50%;
    }

    .main_text .what_is_container {
        .title {
            color: var(--mainContentColor);
        }
    }

    .main_text .project_info_card {
        background-color: var(--mainContentColor);
        border: 2px dashed var(--tan1Alt);
        border-radius: 20px;
        color: white;

        padding: 30px 30px;

        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 10px;
        row-gap: 25px;
    }

    .main_text .project_info_card {
        .title {
            font-size: 24px;
            font-weight: 700;
        }

        .decor {
            font-weight: 500;
        }

        .project_info {
            display: flex;
            flex-direction: column;
            font-size: 16px;
        }

        .project_info {
            .subtitle {
                margin-bottom: 10px;
            }

            .content {
                font-weight: 700;
            }
        }
    }

    .essay_intro {
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(52,0,0,1) 100%);

        padding: 6em 5em 4em 5em;
        position: relative;

        width: 100vw;
    }

    .essay_intro {
        .essay_big_heading {
            width: 70vw;
            max-width: 800px;
        }

        .essay_big_heading {
            .essay_big_quote {
                color: white;
                font-family: 'Cormorant Garamond', serif;
                font-size: 2.75em;

                font-style: italic;
                font-weight: 300;

                margin: 0;
            }

            .essay_attribution {
                color: white;
                padding-top: 1em;
                opacity: 50%;
            }
        }

        .essay_body {
            color: white;
            padding: 4em 10em 4em 0;
            width: 50vw;
            max-width: 800px;
        } 

        .intro_picture_container {
            position: absolute;

            bottom: 0;
            right: 13vw;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .intro_picture_container {
            .intro_image {
                height: 600px;
                width: fit-content;
            }

            .intro_image_caption {
                color: white;
                opacity: 50%;
                text-align: center;
                margin: .5em auto;
            }
        }
    }

    .timeline_container {
        background-color: black;
        padding: 5em;
        width: 100%;
    }

    .essay_transition_quote_container {
        background-color: black;
        color: white;
        font-family: 'Cormorant Garamond', serif;
        font-size: 2.75em;

        font-style: italic;
        font-weight: 300;

        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .essay_transition_quote {
        max-width: 800px;
    }
}

