.beepboop_userflow {
    padding-bottom: 30px;
}

.beepboop_userflow {

    .emphasizedText {
        color: var(--mainContentColor);
        display: inline;
        font-weight: 600;
    }

    .phases {
        margin: auto;
        width: 100%;
    }

    .text.left.longer,
    .text.right.longer {
        max-width: 750px;
        width: 60%;
    }

    .background_decor.left.longer,
    .background_decor.right.longer {
        height: 400px;
    }

    .figma_container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }

    .figma_title {
        color: var(--mainContentColor);
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 30px
    }

    .phase_container .background_decor {
        height: 325px;
    }

    .phase_container.research_synthesis {
        padding-top: 60px;
    }

    .phase_container.wireframes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 100px;
    }

    .phase_container.wireframes {
        .problemsContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            background-color: var(--mainContentColor);
            width: 100vw;
        }

        .problemsContainer {
            .problemsScreenshot {
                box-shadow: none;
                margin: 20px auto 100px auto;
                width: 80%;
            }
    
            .title {
                color: var(--tan1);
                font-weight: 700;
                font-size: 24px;
                letter-spacing: 0.4em;
                margin: 60px auto 20px auto;
            }
        }

        .slideshow .gen_img {
            border-radius: 10px;
            width: 80%;
        }

        .slideshow .title {
            margin: 60px auto 20px auto;
        }
    }

    .phase_container {
        .laptop {
            position: relative;
            width: 700px;
            z-index: 90;
        }

        .laptop:hover {
            box-shadow: none;
        }
    }

    .phase_container.finals {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .phase_container {
        .final_container {
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 50px auto;
        }

        .noOriginal {
            align-items: center;
            display: flex;
            justify-content: center;
        
            border: 2px solid var(--mainContentColor);
            border-radius: 1000px;
            color: var(--mainContentColor);
            font-weight: 700;
            margin: 20px;
            opacity: .5;
            padding: 10px 20px;
        
            width: fit-content;
        }

        .final_container {
            .final_midterm {
                width: 90%;
            }

            .card_container {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .card_container {
                .card {
                    background-color: var(--mainContentColor);
                    border: 2px dashed var(--tan1Alt);
                    border-radius: 20px;
                    color: white;

                    padding: 20px;

                    width: 20vw;
                }

                .card {
                    h2 {
                        margin-bottom: 50px;
                    }

                    .card_header {
                        margin-bottom: 16px;
                    }   

                    .card_content {
                        font-weight: 700;
                        margin-bottom: 30px;
                    }
                }

                .reveal_button {

                }
            }
        }
    }

    .intro {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .intro > div:not(.main_text) {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .intro .gen_img.desktop {
        width: 80%;
    }

    .intro .gen_img.desktop:hover {
        box-shadow: none;
    }

    .main_text {
        align-items: center;
        display: flex;
        justify-content: space-around;

        margin-bottom: 20px;
    }

    .main_text > div {
        margin: 30px 60px;
        width: 50%;
    }

    .main_text .what_is_container {
        .title {
            color: var(--mainContentColor);
        }
    }

    .main_text .project_info_card {
        background-color: var(--mainContentColor);
        border: 2px dashed var(--tan1Alt);
        border-radius: 20px;
        color: white;

        padding: 30px 30px;

        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 10px;
        row-gap: 25px;
    }

    .main_text .project_info_card {
        .title {
            font-size: 24px;
            font-weight: 700;
        }

        .decor {
            font-weight: 500;
        }

        .project_info {
            display: flex;
            flex-direction: column;
            font-size: 16px;
        }

        .project_info {
            .subtitle {
                margin-bottom: 10px;
            }

            .content {
                font-weight: 700;
            }
        }
    }
}

.inPlace {
    .phase_container .text {
        height: 60px;
        width: 350px;
        
        justify-content: center;
    }
}

.reasonsList {
    background-color: var(--tan1);
    border: 2px dashed var(--mainContentColor);
    border-radius: 15px;
    padding: 30px 25px 50px 25px;
    position: relative;
    width: 275px;
    z-index: 90;
}

.reasonsList.interview {
    height: 575px;
    width: 400px;

    margin: 0 40px;
}

.reasonsList h3 {
    color: var(--mainContentColor);
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 700;
}

.reasonsList li {
    margin: 40px 0;
}

.reasonsList.interview li {
    margin: 5px 0;
}

.phase_container.interview {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.interviewInsights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto 200px auto;
    position: relative;
    width: 800px;
}

.interviewInsights h3 {
    color: var(--mainContentColor);
}
