.beepboop_work_body {
    padding-bottom: 30px;
}

.beepboop_work_body {
    .intro {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .landing_frame_container {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 10px 50px 100px 50px;
        width: fit-content;
    }

    .frame_label_container {
        display: flex;
        flex-direction: column;
    }
    
    .frame_label_container {
        .frame_label {
            margin: auto auto -.75em auto;
        }
    }
    
    .main_text {
        margin-right: 40px;
    }

    .gen_img_container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 100px;
        width: 100%;
    }
    
    .gen_img_container {
        .gen_img_subcontainer {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .gen_img_subcontainer {
            .label {
                margin: 30px auto 10px auto;
            }
        }
    
        .gen_img {
            margin: auto;
            width: 700px;
        }
    }

    .phases {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}

