.phone_frame_wrapper {
    background-color: #1f1f1f;
    border: 2px solid black;
    border-radius: 1.5em;
    margin: 1em;
    padding: 3.5em .75em;
    width: min-content;
}

.phone_frame_image {
    width: 300px;
}