.chinaAdoptionTimelineContainer {
    border-left: 2px dashed white;
    display: flex;
}

.chinaAdoptionTimelineContainer {
    .year {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
    }

    .yearTextContainer {
        display: flex;
        align-items: center;
    }
    .yearInfoContainer {
        display: flex;
    }

    .yearTextContainer {
        .yearLine {
            border-top: 2px dashed white;
            width: 6em;
        }

        .yearTextLabel {
            font-size: 2em;
            font-weight: 600;
            color: white;
        }
    }

    .yearInfo {
        color: white;
        padding: 0 0 0 2em;
        width: 30vw;
    }
    
    .scrolly {
        display: flex;
        flex-direction: column;
    }

    .stepContainer {
        background-color: white;
        margin: 10vh 0;
        border: 1px solid gray;
        height: 600px;
    }

    #dotChartChinaAdoptionsByYear {
        position: sticky;
        top: 0;
    }
}