.app_design_1_body {
    .phone_row {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .phone_row .phone_frame_image {
        width: 250px;
    }
}