hr {
  border: 3px solid white;
  height: 10px;
  margin: 0;
  width: 70vw;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #131313;
  border-radius: 20px;
  color: #131313;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 800;
  padding: 5px 15px;
  margin: 5px;
}

button:hover {
  /* box-shadow: 0 0 2px 2px rgba(101, 101, 101, 0.5); */
  background-color: #ea5455;
  border: 2px solid #ea5455;
  color: white;
  cursor: pointer;
}

h2 {
  font-weight: 900;
}
.displayColumn {
  display: flex;
  flex-direction: column;
  margin: 70px 8px;
}

.displayColumn > div {
  margin-bottom: 13px;
}

.individualProject {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* .stacked {
  background-color: white;
  display: inline-block;
  position: relative;
  width: 40vw;
} */

#mainWrapper {
  /* background-color: red; */
  display: inline-block;
}

#subprojectContainer {
  margin-bottom: 30px;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  /* width: 30vw; */
}

#projectHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.inlineLink {
  text-decoration: underline solid black;
  font-size: 12pt;
}

.projectIntro {
  background-color: chartreuse;
  width: 60vw;
  height: 40vh;
}

.subprojectName {
  /* margin: 30px; */
}

.one {
  left: 7vw;
  top: 0;
  /* z-index: 10; */
}

.two {
  background-color: aqua;
  left: 40px;
  top: 5vh;
  /* z-index: 11; */
}

.three {
  background-color: blueviolet;
  right: 7vw;
  top: 10vh;
  /* z-index: 13; */
}

.outerWrapperPieces {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
}

.projectContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.projectContainer > * {
  margin: 60px;
}

.projectContainer > *:nth-child(2) {
  margin-top: 0;
}

.projectTwoElements {
  display: flex;
  flex-direction: row;
}

.projectTwoElements > * {
  padding: 10px;
}

.projectIntroMainText {
  font-weight: 600;
  margin: auto;
  margin-left: 30px;
  width: 45vw;
}

.phoneGif {
  border-radius: 50px;
  height: 600px;
  object-fit: cover;
  width: 330px;
}

.projectGrid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
}

.projectGridSquare {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 40vw 40vw;
}

.projectGridSquare > * {
  width: 100%;
  height: auto;
}

.projectGrid > * {
  width: 12vw;
  height: auto;
}

.fullSpreadImage {
  padding-left: 0;
  padding-right: 0;
  width: 100vw;
  height: auto;
}

.centeredContainer {
  justify-content: center;
}

.headerContainer > * {
  padding: 0;
}

.projectName {
  letter-spacing: 4px;
  margin: 30px auto;
  text-align: center;
}

.subProjectDescription {
  font-weight: 600;
  width: 60vw;
}

#landscape {
  height: 512px;
  width: auto;
}

.publicationGrid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
}

.centeredBelow {
  margin: 30px auto;
}

.projectThreeElements {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.projectThreeElements > * {
  padding: 20px;
}

.appPage {
  height: 500px;
  width: auto;
}

.caption {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 8pt;
}
@media screen and (max-width: 600px) {
  .publicationGrid {
    grid-template-columns: 100vw;
  }

  .publicationGrid > * {
    align-items: center;
    height: auto;
    justify-items: center;
    width: 90vw;
  }

  #landscape {
    height: auto;
    width: 90vw;
  }

  .projectOneElement {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .projectTwoElements {
    align-items: center;
    flex-direction: column;
  }

  .projectThreeElements {
    flex-direction: column;
  }

  .projectIntroMainText {
    width: 70vw;
    margin: auto 15vw;
  }
}
