.data_portaits {
    .portraitSet {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    
    .portraitSet img {
        margin: 1em;
        width: 250px;
    }
    
    .container {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .main_text {
        margin: 2em auto;
        width: 60%;
    }
}