.navbar_wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;

    padding: 1.5em 0.5em;
}

.navbar_wrapper {
    .mainArrow {
      display: none;
    }

    .menu_icon {
      display: none;
    }
    .navbar_name {
        color: var(--mainContentColor);
        font-family: 'Cormorant Unicase', serif;
        font-size: 2em;
        font-weight: 700;
        text-decoration: none;

        margin-left: 1em;
        margin-right: 1em;
    }

    .navbar_links {
        display: flex;
        margin-top: .75em;
    }

    .navbar_links .main_section_wrapper {
        margin-left: 1em;
        margin-right: 1em;
    }

    .navbar_links .main_section {
        color: var(--mainContentColor);
        font-size: 1.25em;
        font-weight: 500;
        margin: 0;
        text-decoration: none;
    }

    #designNav {
        cursor: default;
    }

    .navbar_links .main_section + .underline {
        background-color: var(--mainContentColor);
        height: 2px;
        width: 0;

        transition: .2s ease;
    }

    .navbar_links .main_section:hover + .underline, 
    #dropdownMain:hover .underline,
    #dropdownMain2:hover .underline {
        width: 100%;
    }

    // dropdown stuff
    #dropdownContent {
      background-color: var(--tan1);
      border-radius: 0 0 10px 10px;
        box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.15);
        display: block;
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        z-index: 100;
      }
      
      #dropdownMain:hover #dropdownContent {
        visibility: visible;
      }
      
      #dropdownMain #dropdownContent > * {
        color: var(--mainContentColor);
        display: block;
        font-weight: 400;
        padding: 15px 40px;
        text-decoration: none;
      }

      #dropdownMain #dropdownContent > *:hover {
        background-color: var(--tan2);
      }

      // dropdown stuff
    #dropdownContent2 {
      background-color: var(--tan1);
      border-radius: 0 0 10px 10px;
        box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.15);
        display: block;
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        z-index: 100;
      }
      
      #dropdownMain2:hover #dropdownContent2 {
        visibility: visible;
      }

      #dropdownMain2 #dropdownContent2 > * {
        color: var(--mainContentColor);
        display: block;
        font-weight: 400;
        padding: 15px 40px;
        text-decoration: none;
      }

      #dropdownMain2 #dropdownContent2 > *:hover {
        background-color: var(--tan2);
      }

      #dropdownContent a:last-child, 
      #dropdownContent2 a:last-child {
        border-radius: 0 0 10px 10px;
      }
}

@media screen and (max-width: 700px) {
  .navbar_wrapper {
    position: relative;
  }

  .navbar_wrapper {
    .navbar_name {
      margin: 0 .5rem;
    }

    .menu_icon {
      display: inline;
      padding: 1rem;
    }

    .menu_icon:hover {
      cursor: pointer;
    }

    .menu_icon svg {
      height: 1rem;
      width: 1rem;
    }

    .menu_icon svg rect {
      fill: var(--mainContentColor);
    }

    .navbar_links {
      display: none;
    }

    .navbar_links.expanded {
      background-color: var(--tan1);
      display: flex;
      flex-direction: column;

      position: absolute;
      top: 4rem;
      right: 0;

      z-index: 100;
    }

    .navbar_links.expanded .underline {
      display: none;
    }

    #dropdownContent2, 
    #dropdownContent {
      border-radius: 0;
      box-shadow: none;
      position: relative;
      visibility: visible;
    }

    #dropdownContent a:last-child, 
    #dropdownContent2 a:last-child {
      border-radius: 0;
    }

    .main_section_wrapper a.main_section {
      color: var(--mainContentColor);
      display: block;
      font-weight: 400;
      padding: 15px 40px 15px 0;
      text-decoration: none;
    }

    .main_section_wrapper a.main_section:hover {
      background-color: var(--tan2);
    }

    .mainArrow {
      display: inline;
      height: 1rem;
      rotate: 180deg;
      padding-left: 0.75rem;
      fill: var(--mainContentColor);
    }
  }
}