div {
  display: inline-block;
  height: fit-content;
}

img {
  display: block;
  height: auto;
  width: 30vw;
}

.bigImage {
  height: 90vh;
}

.divOverlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1001;
}

.imageOverlayDisplay {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.pieceDescription {
  display: none;
  position: absolute;
  margin: 20px;
}

#mainPieceWrapper {
  background-color: black;
  padding: 0;
}

#pieceImage {
  height: 90vh;
  width: auto;
}
