div {
  display: inline-block;
  height: fit-content;
}

img {
  display: block;
  height: auto;
  width: 35vw;
}

.bigImage {
  height: 90vh;
}

.divOverlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1001;
}

.imageOverlayDisplay {
  align-items: center;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
}

.imageOverlayDisplay > p {
  margin: 20px;
}

.pieceDescription {
  color: white;
  display: none;
  position: absolute;
  margin: 20px;
  width: 30vw;
}

#mainPieceWrapper {
  background-color: black;
  padding: 0;
}

#pieceImage {
  height: 90vh;
  width: auto;
}

@media screen and (max-width: 600px) {
  .imageOverlayDisplay {
    flex-direction: column;
  }

  #pieceImage {
    height: auto;
    width: 90vw;
  }
}
