.future_pi_project {
    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 2em auto;
        width: 90%;
    }

    .container {
        .phone_frame_image {
            border-radius: 10px;
            margin-right: 30px;
            width: 500px;
        }

        .main_text {
            font-size: 16px;
        }
    }

    .try_out_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 60px auto;
        width: 100%;
    }

    .try_out {
        background-color: var(--tan2);
        border: 2px dashed var(--tan1Alt);
        border-radius: 10px;
        color: var(--mainContentColor);
        font-weight: 600;
        margin: 60px auto 20px auto;
        padding: 50px 10px;
        text-align: center;
        width: 90%;
    }

    .expandableImg.map {
        margin: 60px auto 10px auto;
        width: 80%;
    }

    .frame_caption {
        margin: 60px auto 0 auto;
        text-align: center;
        width: 100%;
    }

    .frame_container {
        display: flex;
        margin: auto;
        width: 90%;
    }

    .frame_container {
        div {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .frame {
            margin: 5px;
            width: 85%;
        }
    }

    .phase_container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 180px auto;
        position: relative;
        width: 90%;
    }

    .phase_container {
        .text {
            display: flex;
            flex-direction: column;
            width: 40%;
        }

        .text {
            .phase_header {
                color: var(--mainContentColor);
                margin-bottom: 24px;
                font-size: 24px;
                font-weight: 700;
            }
        }

        img.phase_img {
            width: 600px;
        }

        img.phase_img_vert {
            width: 300px;
        }

        img.phase_img_vert.bump {
            margin-left: 20px;
        }

        .phase_img, 
        .phase_img_vert, 
        .phase_body {
            position: relative;
            z-index: 10;
        }

        .background_decor {
            background-color: var(--mainContentColor);
            border-radius: 1000px;
            height: 375px;
            opacity: .2;
            position: absolute;
            top: -90px;
            width: 1200px;
            z-index: 1;
        }

        .background_decor.left {
            left: -300px;
        }

        .background_decor.right {
            right: -300px;
        }
    
    }
}