
/* :root {
  --mainContentColor: #0C4E1B; 
  --mainContentColor: #C75D3D;
  --tan1: #F9F7F3;
  --tan1Alt: #FCF6E5;
  --tan2: #e9e6df;
} */

:root {
  --mainOrange: #C75D3D;
  --mainLavender: #917d89;
  --mainGreen: #13582e;
  --mainBlack: #000000;
  --tan1: #F9F7F3;
  --tan1Alt: #FCF6E5;
  --tan2: #e9e6df;
}

html {
  overflow-x: hidden;
}

#root {
  width: 100%;
}

body {
  background-color: #F9F7F3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}

a {
  color: var(--mainContentColor);
  font-weight: 600;
}

.header_container {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin: 2.5em 2em 1em 2em;
  position: relative;
  width: auto;
}

.header_container:not(.landing) {
  margin: 2em 2em 1em 4em;
}

.header_container h1 {
  color: var(--mainContentColor);
}

.landing_body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 85%;
}

.star_icon {
  position: absolute;
  left: -2.3em;
  top: 1.5em;

  height: 2em;
  width: auto;

  transition: 2s ease;
}

.star_icon:hover {
  transform: rotate(360deg);
}

.star_icon circle,
.star_icon rect {
  fill: var(--mainContentColor);
}

.process_header {
  color: white;
  font-size: 24px;
  margin: auto;
  padding: 80px 10px;
  position: relative;
  text-align: left;
  width: 90%;
}

.process_header_container {
  background-color: var(--mainContentColor);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.emphasized_title {
  font-size: 40px;
  font-weight: 800;
}

.phase_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 200px auto;
  position: relative;
  width: 90%;
}

.phase_container .text {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.phase_container .text .phase_header {
  color: var(--mainContentColor);
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
}

.phase_container img.phase_img {
  width: 600px;
}

.phase_container img.phase_img_vert {
  width: 300px;
}

.phase_container img.phase_img_vert.scrunch {
  margin: 10px;
  width: 200px;
}

.phase_container img.phase_img_vert.bump {
  margin-left: 20px;
}

.phase_container .phase_img, 
.phase_container .phase_img_vert, 
.phase_container .phase_body {
  position: relative;
  z-index: 10;
}

.phase_container .background_decor {
  background-color: var(--mainContentColor);
  border-radius: 1000px;
  height: 375px;
  opacity: .2;
  position: absolute;
  top: -90px;
  width: 1200px;
  z-index: 1;
}

.phase_container .background_decor.left {
  left: -300px;
}

.phase_container .background_decor.right {
  right: -300px;
}

