body {
  background-color: #43704d;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  overflow-x: hidden;
  position: relative;
  top: 0;
}

a {
  color: white;
  text-decoration: none;
}
/*
*
*   MOVING OBJECTS
*
*/
#avoidContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  top: 0;
}

@keyframes falling {
  from {
    top: -5%;
  }
  to {
    top: 100%;
  }
}
.movingObj {
  animation-name: falling;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
